*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
//CSS RESET 
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
:root{
  --dark-theme-color:rgba(34, 40, 49,1);
  --light-theme-color:rgba(238, 238, 238,1);
  --hover-color:rgba(118, 171, 174,1);
  --bold-font:500;
  --light-font:300;

  /*fonts*/
  --h1-size:clamp(2rem,calc(1.6rem + 1.2vw),3rem);
  --h2-size:clamp(1.6rem,calc(1rem + 1vw), 2.4rem);
  --h2-small-size:calc(var(--h2-size) - (var(--h2-size) / 8));
  --h3-size:clamp(1.3rem,calc(1.1rem + 0.55vw), 1.8rem);
  --p-size:clamp(1rem,calc(0.9rem + 0.55vw),1.6rem);
}
html{
  font-size: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display: none;
  }
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
button{
  background-color:inherit;
  border: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
/*mixins*/

@mixin flex($direction,$align : stretch,$justify : start){
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
/*common styles*/
%tooltip-styles{
  white-space: nowrap;
  position: absolute;
  font-size: .7em;
  font-weight: var(--bold-font);

  border-radius: 100vw;
  background-color: var(--dark-theme-color);
  color: var(--light-theme-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease , transform .3s ease;
  box-shadow: 0px 0px 5em rgba(255,255,255,.3);
  line-height: 1;

   body.dark & {
    background-color: var(--light-theme-color);
    color: var(--dark-theme-color);
    box-shadow: 0px 0px 5em rgba(0,0,0,.3);
  }

  body.lower-version & {
    display: none;
  }
  @media (max-width: 650px){ 
    display: none;
  }
}
body{
  --theme-icon-size:clamp(22px,calc( 20px + 0.9vw), 35px);
  font-size: var(--p-size);
  font-weight: var(--light-font);
  font-family: "Noto Sans", sans-serif;
  height: 100vh;
  height: 100svh;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display: none;
  }

  &:has(.hamburger-icon.active) .sidebar{
    clip-path: inset(0px 0px 0px 0px);
  }

  &:has(dialog[open]){
    overflow: hidden;
  }

  &:not(.lower-version){

    & .loading-page{
      animation: clipAni 2s ease forwards;
      animation-delay: 4s;
    }

    & .loading-container svg{
      transform: translateX(var(--svg-left));
      animation: moveDefault 1s ease forwards;
      animation-delay: 2s;
      & path{
        stroke-dasharray: calc(var(--length) + 3);
        stroke-dashoffset: calc(var(--length) + 3);
        animation:strokeZeroAni 1.5s ease forwards;
        animation-delay: 1s;
      }
    }

    & .loading-container .name-part{
      transform: translateX(-120%);
      animation: moveDefault 1s ease forwards;
      animation-delay: 2s;
    }

    & .theme-icon-container {
      & svg:nth-child(1),
      & svg:nth-child(2){
        display: none;
      }
    }


    &.light .theme-icon-container svg:nth-child(3){
      & .cover-circle{
        transform: translate(0%);
      }
      & .shape-icon{
        animation: moveToMoon .8s ease forwards;
      }

      & g > circle{
        transform: scale(0);
      }
    }

    &.dark .theme-icon-container svg{
      & .cover-circle{
        transform: translate(100%);
      }
      & .shape-icon{
        animation: moveToSun .5s ease forwards;
      }

      & g > circle{
        transform: scale(0);
        animation:showRays .3s ease forwards;
        animation-delay:calc(var(--circle-num) * 0.05s);
      }
    }

    & .personal-info-container{
      transform: scale(1.3);
      opacity: 0;
      filter: blur(0em);
      animation:blurEffect 1.2s ease forwards;
      animation-delay: 5.5s;

      & h2::after{
        animation:multiTextAni 13.5s ease infinite;
        animation-delay:8.5s;
      }
    }
    & .info-stroke{
      display: block;
    }
    & .personal-icons > a{
      opacity: 0;
      animation: showOpacity 1s ease forwards;
      animation-delay: 6.8s;
    }

    & .whyme-head .icon-container svg path{    
      stroke-dasharray:var(--length);
      stroke-dashoffset: var(--length);
      transition: stroke-dashoffset 2s ease;
    }

    & .image-holder-contact{
      transform: translateX(-50%);
      transition: transform 1s ease;
    }

    & .form-container{
      transform: translateX(50%);
      transition: transform 1s ease;
    }
  }
  &.lower-version{
    &  .loading-page{
      animation: hidePage 2s ease forwards;
      animation-delay: 2s;
    }
    & .theme-icon-container {
      & svg:nth-child(3){
        display: none;
      }
    }

    /*lower version light mode*/
    &.light{
      & .theme-icon-container svg{
        color: var(--dark-theme-color); 

        &:nth-child(1){
          display: none;
        }
      }
      & .sidebar .theme-icon-container svg{
        color: var(--light-theme-color);
      }
    }
    &.dark{
      & .theme-icon-container svg{
        color: var(--light-theme-color); 

        &:nth-child(2){
          display: none;
        }
      }
      & .sidebar .theme-icon-container svg{
        color: var(--dark-theme-color);
      }
    }

    & .info-stroke{
      display: none;
    }
  }

  /*ligt theme styles*/
  &.light{
    background-color: var(--light-theme-color);
    color: var(--dark-theme-color);
    --svg-color:var(--dark-theme-color);
    & .loading-page{
      background-color: var(--dark-theme-color);
      --loading-screen-color:var(--light-theme-color);
    }
    & .theme-icon-container::after{
      content: 'Switch to Dark Mode';
      color: var(--light-theme-color);
    }

    & .img-personal-container{
      background-color: var(--dark-theme-color);
    }
    & .personal-icons a:hover svg{
      filter: brightness(160%);
    }
    & .info-stroke path{
      stroke: var(--dark-theme-color);
    }
    & .navigation-bar{
      background-color: var(--light-theme-color);
      box-shadow: 0px 0px .4em rgba(34, 40, 49, .3);
      color: var(--dark-theme-color);
    }
    & .personal-info-container > h2{
      --cursor-theme-color:var(--dark-theme-color);
    }

    & .service-container,
    & .whyme-card{
      background-color: var(--dark-theme-color);
      color: var(--light-theme-color);
      filter: drop-shadow(0px 0px .3em rgba(34, 40, 49,.2));

      & ::selection {
        background-color: var(--light-theme-color); 
        color: var(--dark-theme-color);
      }
    }
    & .form-container textarea,
    & .form-container input,
    & .form-container button{
      color: var(--light-theme-color); 
      background-color: var(--dark-theme-color);
      &::placeholder{
        color: inherit; 
        background-color: inherit;
      }
      &::selection {
        background-color: var(--light-theme-color); 
        color: var(--dark-theme-color);
      }
    }

    & .service-container{
      & button{
        background-color: var(--light-theme-color);
        color: var(--dark-theme-color);
      }
      & .view-container{
        filter: drop-shadow(0px 0px .3em rgba(238, 238, 238,.2));
      }
    }

    & .slide-arrow-container > button,
    & .hamburger-icon > div,
    & .sidebar,
    & .image-container-contact,
    & .credit-line{
      background-color: var(--dark-theme-color);
      color: var(--light-theme-color);
    }
    & .hamburger-icon.active > div{
      background-color: var(--light-theme-color);
    }
    & .sidebar ul li:nth-child(5) button::before{
      content: 'Switch to Dark Mode';
      color: var(--light-theme-color);
    }
    & .sidebar ul li button.theme-icon-container{
      --svg-color:var(--light-theme-color);
    }
    & .dialog-btn{
      border: 1px solid var(--light-theme-color);

      &:hover{
        background-color: var(--light-theme-color);
      }
      & i{
        color: var(--dark-theme-color);
      }
    }
    & ::selection {
      background-color: var(--dark-theme-color); 
      color: var(--light-theme-color);
    }
  }

  /*dark theme styles*/
  &.dark{
    background-color: var(--dark-theme-color);
    color: var(--light-theme-color);
    --svg-color:var(--light-theme-color);
    & .loading-page{
      background-color:var(--light-theme-color);
      --loading-screen-color:var(--dark-theme-color);
    }
    & .theme-icon-container::after{
      content: 'Switch to Light Mode';
      color: var(--dark-theme-color);
    }
    & .img-personal-container{
      background-color: var(--light-theme-color);
    }
    & .personal-icons a:hover svg{
      filter: brightness(90%);
    }
    & .info-stroke path{
      stroke: var(--light-theme-color);
    }
    & .navigation-bar{
      background-color: var(--dark-theme-color);
      box-shadow: 0px 0px .4em  rgba(238, 238, 238, .3);
      color: var(--light-theme-color);
    }
    & .personal-info-container > h2{
      --cursor-theme-color:var(--light-theme-color);
    }
    & .service-container,
    & .whyme-card{
      background-color: var(--light-theme-color);
      color: var(--dark-theme-color);
      filter: drop-shadow(0px 0px .2em rgba(238, 238, 238,.3));
      & ::selection {
        background-color: var(--dark-theme-color); 
        color: var(--light-theme-color);
      }
    }
    & .form-container textarea,
    & .form-container input,
    & .form-container button{
      color: var(--dark-theme-color); 
      background-color: var(--light-theme-color);
      &::placeholder{
        color: inherit; 
        background-color: inherit;
      }
      &::selection {
        background-color: var(--dark-theme-color); 
        color: var(--light-theme-color);
      }
    }
    & .service-container{
       & button{
        background-color: var(--dark-theme-color);
        color: var(--light-theme-color);
       }
       & .view-container{
       filter:drop-shadow(0px 0px .2em rgba(34, 40, 49,.3));
       }
    }
    & .slide-arrow-container > button,
    & .hamburger-icon > div,
    & .sidebar,
    & .image-container-contact,
    & .credit-line{
      background-color: var(--light-theme-color);
      color: var(--dark-theme-color);
    }
    & .hamburger-icon.active > div{
      background-color: var(--dark-theme-color);
    }
    & .sidebar ul li:nth-child(5) button::before{
      content: 'Switch to Light Mode';
    }
    & .sidebar ul li button.theme-icon-container{
      --svg-color:var(--dark-theme-color);
    }
    & .dialog-btn{
      border: 1px solid var(--dark-theme-color);

      &:hover{
        background-color: var(--dark-theme-color);
      }
      & i{
        color: var(--light-theme-color);
      }
    }
    & ::selection {
      background-color: var(--light-theme-color); 
      color: var(--dark-theme-color);
    }
  }
}
.loading-page{
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  @include flex(row,center,center);
  clip-path: polygon(0% 0%, 0 100%, 50% 100%, 100% 100%, 100% 0);
  pointer-events: all;
  z-index: 5;
}
.loading-container{
  @include flex(row);
  color: var(--loading-screen-color);
  position: relative;

  & svg{
    width:clamp(50px,calc(20px + 4.7vw),100px);
    aspect-ratio:1;
    overflow: visible; 

    & path{
      stroke: var(--loading-screen-color);
    }
  }

  & div{
    margin-top:auto;
    font-size: clamp(3rem ,calc( 2rem + 2.35vw), 5rem);
    font-weight: 500;
    overflow: hidden;

    & .name-part{
      line-height:.86;
    }
  }
}
main{
  @include flex(row);
  height: fit-content;


  & .particles-js-container{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    pointer-events: none;
  }
  .navigation-bar{
    position: fixed;
    padding:.6em  1.5em;
    border-radius: 100vw;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%,0%);
    @include flex(flex);
    list-style: none;
    gap: 2em;
    z-index: 2;
    transition:background-color ease .2s , color .2s ease;
    & a{
      font-size: inherit;
    }

    & li{
      font-size:clamp(1.1rem, 1rem + 0.43vw, 1.6rem);
      font-weight: var(--light-font);
      white-space: nowrap;
      cursor: pointer;
      transition:transform .2s ease;

      &:not(.active):not(.arrow):hover{
        transform: scale(1.03) translateY(-2%);    
      }
    }

    & .arrow{
      top: 60%;
      position: absolute;
      transition: left .15s ease;
    }
  }
  &:has(dialog[open]) .content-container{
    pointer-events: none;
  }
}
header{
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  @include flex(row,center,end);
  padding:10px;
  z-index: 4;
}
.theme-icon-container{
  width: var(--theme-icon-size);
  aspect-ratio: 1;
  position: relative;
  cursor: pointer;
  @include flex(row,center,center);

  & svg:nth-child(1){
    width: 100%;
    height: 100%; 
  }
  & svg:nth-child(2){
    width: 85%;
    height: 85%; 
  }
  & svg:nth-child(3){
    width: 90%;
    height: 90%;
    overflow: visible;
    @include flex(row);
    transform: rotate(40deg);

    & rect{
      width: 100%;
      height: 100%;
    }

    & .cover-circle{
      transition: transform .5s ease;
    }
    & .shape-icon,
    & g > circle{
      fill: var(--svg-color);
      transform-origin:center center;
    }
  }

  &:hover::after{
    opacity: 1;
    transform: translate(0%,-50%);
  }

  &::after{
    @extend %tooltip-styles;
    right: 120%;
    top: 50%;
    transform: translate(10%,-50%);
    padding:.5em 1em;
  }
}
.hamburger-icon{
  height: 22px;
  width: 22px;
  display: none;
  cursor: pointer;
  position: relative;
  transition: transform .35s ease;
  & > div{
    position: absolute;
    width: 100%;
    height: 2px;
    transition: transform .35s ease , background-color .8s ease;
    &:nth-child(1){
      top:0px; 
    }
    &:nth-child(2){
      top:8px;
    }
    &:nth-child(3){
      top:16px;
    }
  }
  &.active{
    transform: rotate(-90deg);
  }
  &.active  > div:nth-child(1){
    transform: rotate(-45deg) translate(-5.5px,6px);
  }
  &.active  > div:nth-child(2){
    transform: rotate(180deg) scale(0);
  }
  &.active  > div:nth-child(3){
    transform: rotate(45deg) translate(-5.5px,-6px);
  }
}
.sidebar{
  display: none;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 300px;
  padding:calc(var(--theme-icon-size) + 20px) 0px 0px 15px;
  clip-path: inset(0px 0px 0px 300px);
  transition: clip-path 0.5s ease;
  z-index: 3;
  background-color: red;

  & ul{
    @include flex(column,start,start);
    gap: 20px;
    & li{
      font-size:1.4rem;
      @include flex(row,center,center);
      gap: 10px;

      &:nth-child(5) button::before{
        font-family: "Noto Sans", sans-serif;
        white-space: nowrap;
        font-size: 1.4rem;
        position: absolute;
        top: 50%;
        left: 120%;
        transform: translateY(-50%);
        cursor: pointer;
        font-weight:var(--light-font);
      }
    }
  }
}
.content-container{
  @include flex(column);
  width: 100%;
  gap: 5em;
  padding: 0px 20px;
  position: relative;
}
.content-container section:nth-child(1){
  padding-top:calc(20px + var(--theme-icon-size));
}
.content-container section{
  height: fit-content;
  @include flex(column,center,center);

  & > div{
    z-index: 2;
  }
}
.content-container >   *:not(:first-child){
  --top-gap:2.5em;
  --cards-gap:clamp(20px,10px + 3.3vw,60px);
  font-size: var(--p-size);
  & > h1{
    font-size:var(--h1-size);
    font-weight: var(--light-font);
  }
  & > p{
    text-align: center;
    margin-top:.1em;
  }
  & h2{
    font-weight: var(--bold-font);
    font-size: var(--h2-size);
  }
}
.img-personal-container{
  @include flex(row,center,center);
  width: 12em;
  height: 12em;
  border-radius: 50%;
  overflow: hidden;
  animation:imageAni .2s ease forwards;
  animation-delay: 6.7s;
  font-size: clamp(1rem,calc(.8rem + 0.625vw),1.6rem);
  transform: translateY(1%);
  transition: background-color .2s ease;

  & picture{
    width:100%;
    height:100%;
    @include flex(row,center,center);
  }
   & img{
    width:100%;
    height:100%;
    object-fit: contain;
   }
}
.personal-info-container{
  @include flex(column,center,center);
  margin-top: min(10%,25.5px);
  gap: clamp(4.5px,calc(1px + 0.4vw),6px);
  position: relative;
  & h1{
   font-weight: var(--bold-font);
   font-size:var(--h1-size);
  }

  & h2{
    font-size:var(--h2-size);
    position:relative;
    width:fit-content;
    display:flex;
    font-weight: var(--light-font);
    
    &::after{
      width:100%;
      white-space: nowrap;      
      position:relative;
      content:"Web Developer";
      contain: paint;
      border-right-width:.15em;
      border-right-style:solid;
      border-color: var(--cursor-color , rgba(255,255,255,0));
      transition: border-color 1s ease;
   }
  }
  

  & h3{
    font-size:var(--h3-size);
    font-weight: var(--light-font);
  }
}
.info-stroke{
  --stroke-width: 1px;
  position: absolute;
  height: var(--stroke-width);
  width: 50%;
  &.top-left,
  &.top-right{
    bottom: 100%;
  }
  &.bottom-left,
  &.bottom-right{
    top: 100%;
  }
  &.top-left,
  &.bottom-left{
    left: 0px;
  }
  &.top-right,
  &.bottom-right{
    right: 0px;
  }
  & path{
    stroke-width: var(--stroke-width);
    stroke-dasharray: var(--length);
  }
  &.top-left,
  &.bottom-left{
    & path{
      stroke-dashoffset: calc(-1* var(--length));
      --first:calc(-1* var(--length));
      animation: introStrokeAni 1s  forwards;
      animation-delay: 6s;
    }
  }
  &.top-right,
  &.bottom-right{
    & path{
      stroke-dashoffset:var(--length);
      --first:var(--length);
      animation: introStrokeAni 1s  forwards;
      animation-delay: 6s;
    }
  }
}

.personal-icons{
  @include flex(row,center,center);
  margin-top:min(2.5%,31px);
  gap: clamp(15px,10px + 1vw,23px);
  & > a {
    @include flex(row,center,center);
    width:1.5em;
    aspect-ratio: 1;
    position: relative;

    &:hover::after{
      opacity: 1;
      transform: translate(-50%,0%);
    }
    &::after{
      @extend %tooltip-styles;
      top: 120%;
      left: 50%;
      transform: translate(-50%,-10%);
      padding: .4em .8em;
    }
    &:nth-child(1)::after{
      content: 'LinkdIn Profile';
    }
    &:nth-child(2)::after{
      content: 'Upwork Profile';
    }
    &:nth-child(3)::after{
      content: 'Github Profile';
    }

    & svg{
      width: 100%;
      height: 100%;
      fill: var(--svg-color);
      transition: filter 0.15s ease;
      overflow: visible;

      &.upwork{
        transform: translateY(5%);
      }
    }
  }
}
/*services section*/
.services-container-wrapper{
  font-size: var(--p-size);
  container-type: inline-size;
  width:clamp(400px,300px + 40.6vw,800px);
  max-width: 100%;
  height: fit-content;
  @include flex(column,center,center)
}
.slide-arrow-container{
  margin-top:2em;
  margin-left: auto;
  @include flex(flex,center,center);
  display: none;
  gap: 1em;
  padding-right:2em;

  & > button{
    border-radius: 50%;
    width: 2.7em;
    aspect-ratio: 1;
    @include flex(row,center,center);
    cursor: pointer;
    transition: background-color .2s ease;
  }

  & i{
    transition:  color .2s ease;
    z-index: 1;
  }
}
.services-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:var(--cards-gap);
  margin-top:var(--top-gap);
  &::-webkit-scrollbar{
    display: none;
  }
}
.service-container{
  padding:1.3em;
  height:100%;
  @include flex(column);
  border-radius:1em;
  position: relative;
  transition: background-color 0.2s ease , color 0.2s ease;
  transform: translateX(var(--scroll-value));
  scale: 0.9;
  transition: transform 1s ease , scale 1s ease , background-color .2s ease;

  &.scale{
    scale: 1;
  }

  & .development-message{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    @include flex(column,center,center);
    display: none;
    background-color: rgba(0,0,0,0.7);
    border-radius: inherit;
    gap: 5%;
    color: white;

    & i{
      font-size:3em;    
    }
  }

  &.development-mode .development-message{
    display: flex;
  }

  & a{
    display: inline-block;
  }

  & p{
    text-align: center;
  }
}
.view-container{
  border-radius: inherit;
  width: 100%;
  height: clamp(130px,120px + 7vw,210px);
  background-color: white;
  margin: .9em 0%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  @include flex(column,end,space-between);
  & .img-scroll-container,
  & .swiper{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;

    & .swiper-wrapper{
      width: 100%;
      height: 100%;
    }

    & img{
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & button{
    width: 100%;
    font-size: 1.2em;
    padding: 1% 0;
    z-index: 2;
    cursor: pointer;
  }
  & a{
    display: inline-block;
    height: fit-content;
    width: fit-content;
    z-index: 1;
    padding:.5em;
    border-bottom-left-radius: 50%;
    cursor: pointer;

    /*remove this style when site it live*/
    opacity: 0;
    background-color: white;
    pointer-events: none;

    & i{
      font-size: 1.1em;
    }
  }
}
dialog{
  position: fixed;
  z-index: 3;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  padding: 10px 0px;
  border: none;
  transition: opacity .2s ease;
  font-size: var(--p-size);
  background-color: rgba(0,0,0,.2);
  opacity: 0;
  pointer-events: none;
  @include flex(row,center,center);
  &[open]{
    opacity: 1;
    pointer-events: all; 

    & div{
      transform: translate(0%,0%);
    }
  }
  & .wrapper{
    width: 40%;
    height: 100%;
    @include flex(column,center,center);
    gap: 2%;
    padding-bottom:5px;
    position: relative;

    & .container{
      font-size: .9em;
      overflow: scroll;
      width: 100%;
      height: 100%;
      @include flex(column);
      gap: 2%;
      &::-webkit-scrollbar{
        display: none
      }
      & .img-container{
        @include flex(row);
        display: none !important;
        width: 100%;
        flex-shrink: 0;
        height:fit-content;
  
        & img{
          width: 100%;
          object-fit:cover;
        }
      }
      &.repair .img-container.repair,
      &.resturant .img-container.resturant,
      &.photography .img-container.photography,
      &.educational .img-container.educational,
      &.travel .img-container.travel,
      &.portfolio .img-container.portfolio{
        display: flex !important;
      }
    }
    & .scroll-btn-container{
      @include flex(column,center,center);
      position: absolute;
      left: 0px;
      bottom: 0px;
      text-align: center;
      width: 3.3em;
      height: 3.3em;
      border-radius: 50%;
      padding: 2px;
      background-color: var(--light-theme-color);
      box-shadow: 0px .3em 0px var(--hover-color);
      transform: translateY(-15%);

      & i{
        font-size: inherit;
      }

      &.hide{
        display: none !important;
      }
    }

    & .dialog-btn{
      margin-left: auto;
      width: 2em;
      height: 2em;
      cursor: pointer;
      @include flex(row,center,center);
  
      & i{
        font-size:1.5em;
        line-height: .8em;
      }
    }
  }

}
/*whyme*/
#whyme{
  width: 100%;
  @include flex(column,center,center);
}
.whyme-content-container{
  width: 100%;
  max-width: 75%;
  margin-top: var(--top-gap);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap:calc(var(--cards-gap) * 2);
  row-gap:calc(var(--cards-gap));
}
.whyme-card{
  @include flex(column);
  gap: 15px;
  padding: 1.3em;
  border-radius: 1em;
  height: 100%;
  transition: background-color .2s ease;

  & p{
    line-height: 1.7em;  
  }
}
.whyme-head{
  @include flex(row,center,space-between);

  & h2{
    font-size: var(--h2-small-size) !important;
  }

  & .icon-container{
    width: 2em;
    aspect-ratio: 1;
    @include flex(row,center,center);

    & svg{
      width: 100%;
      height: 100%;
      overflow: visible;
       & path{
        stroke-width: .1em;
        stroke: goldenrod;
      }
    }
  }
}
/*contact*/
#contact{
  width: 100%;
  @include flex(column,center,center);
  overflow: hidden;

  &.intersected .image-holder-contact,
  &.intersected .form-container{
    transform: translateX(0%);  
  }
}
.contact-content-container{
  font-size: var(--p-size);
  width: 100%;
  max-width: 85%;
  margin-top: var(--top-gap);
  @include flex(row,start,space-between);
}
.image-holder-contact{
  @include flex(column,center,center);
  gap: 1.5em;
  text-align: center;

  & .image-container-contact{
    width: 100%;
    aspect-ratio: 2 / 1;
    @include flex(row,center,center);
    box-shadow: .5em .5em 0px var(--hover-color);
    transition: background-color .2s ease;

    & img{
      width: 90%;
      height: 90%;
    }
  }
}
.form-container{
  flex: 1;
  max-width: 40%;
  @include flex(row,center,center);
}
form{
  width: 100%;
  background-color: transparent;
  @include flex(column,end,start);
  gap: .8em;

  & input,
  & textarea{
    width: 100%;
    outline: none;
    border: none;
    border-radius: .5em;
    padding-left: .5em;
    transition: background-color .2s ease;
    font-size: .9em;
    font-family: "Noto Sans", sans-serif;
    filter: none !important;

    &::placeholder{
      font-family: inherit;
      font-size: inherit;
    }
  }
  & input{
    height:3em;

    &:nth-child(2){
      border-top-left-radius:0px;
      border-top-right-radius: 0px;
    }
  }
  &  textarea{
    min-height: 9em;
    max-width: 100%;
    min-width:100%;
    padding-top:.6em;
    border-bottom-left-radius:0px;
    border-bottom-right-radius: 0px;
  }

  & .wrapper{
    width: fit-content;
  }

  & button{
    width: 100%;
    padding: .5em 1.3em;
    font-size: .95em;
    cursor: pointer;
    border-radius: .5em;
    transition: background-color .2s ease;    
    &:hover{
      filter: brightness(95%);
    }
  }
}
/*credits*/
footer{
  width: 100%;
  @include flex(row,center,center);
  font-size: var(--p-size);
  padding: 10vh 0vh;
}
.credit{
  width: 50%;
  margin:0em auto;
  @include flex(column,center,center);

  & .credit-line{
    height: .1em;
    width: 0%;
    transition: width 1s ease;

    &.show{
      width: 100%;
    }
  }

  & p{
    opacity: 0;
    transform: translateY(-60%);
    transition: transform 1s ease , opacity .5s ease;
    white-space: nowrap;

    &.show{
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
.whatsapp-icon{
  position: fixed;
  bottom: 1em;
  right: 3em;
  @include flex(row);
  background-color: white;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  transform: translateY(30%);
  opacity: 0;
  z-index: 2;
  transition: transform .5s ease , opacity .5s ease;
  pointer-events: none;

  & i{
    color:#25CF43;
    font-size: 3em;
    transform: scale(1.2);
  }

   &.show{
    transform: translateY(0%);
    opacity: 1;
    pointer-events: all;
  }

  &::after{
    @extend %tooltip-styles;
    content:  "WhatsApp Me";
    bottom: 130%;
    left: 50%;
    padding: .5em 1em;
    transform: translate(-50%,30%);
  }

  &:hover::after{
    opacity: 1;
    transform: translate(-50%,0%);
  }
}
.error-container{
  margin-bottom: auto;
  background-color: #9e2a2b;
  width: 100%;
  width: fit-content;
  padding: 1em;
  @include flex(column);
  gap: 1em;
  color: white;
  border-radius: 5px;
  font-size: var(--p-size);
  transform: translateY(-50%);
  transition: transform .2s ease;

  & div{
    @include flex(row,center,center);  
    gap: .8em;
    width: 100%;
  }

  & h2{
    font-size: var(--h2-size);
  }
  & i{
    font-size: var(--h2-size);   
  }

  & a{
    font-size:.8em;
    margin-top: .1em;
    margin-left: auto;
    background-color: white;
    color: #9e2a2b;
    padding: .5em .8em;
    cursor: pointer;
  }
 
}
//queries
@media  (max-width:1120px){
  .whyme-content-container{
    max-width: 50%;
    margin-top: var(--top-gap);
    display: grid;
    grid-template-columns: repeat(1,1fr);
    place-items: center;
  }
}
@media (max-width:890px){
  .contact-content-container{
    @include flex(column,center,center);
    gap: 2em;

  }
  .form-container{
    width: 100%;
    max-width: 55%;
  }
}
@media (max-width:650px){
  main .navigation-bar,
  header .theme-icon-container{
    display: none;
  }
  .hamburger-icon,
  .sidebar{
    display: flex;
  }
}
@media (max-width:600px){
  .whyme-content-container{
    max-width: 75%;
  }
}
@media (max-width:500px){
  .form-container{
    width: 100%;
    max-width: 85%;
  }
}
@container (max-width:515px){
  .services-container{
    grid-template-columns: repeat(6,1fr);
    width: 70%;
    gap: 10px;
    height: fit-content;
    overflow:hidden;
  }
  .service-container{
    height: 100%;
    width:calc(100cqw - 30cqw);
    justify-content: space-between;
  }
  .slide-arrow-container{
    display: flex;
  }
}
@media (max-width:380px){
  .whyme-card{
    & .icon-container{
      width: 2.5em;
    }
  }
}
//keyframes
@keyframes moveToSun{
  to{
    transform:rotate(90deg) scale(.55);
  }
}
@keyframes showRays{
  0%{
    transform:scale(0);
  }
  70%{
    transform:scale(1.1);
  }
  100%{
    transform:scale(1); 
  }
}
@keyframes moveToMoon{
  0%{
   transform:rotate(90deg) scale(.55);     
  }
  50%{
    transform:rotate(-15deg) scale(1);     
  }
  100%{
    transform:rotate(0deg) scale(1);   
  }
}
@keyframes clipAni{
  0%{
    clip-path: polygon(0% 0%, 0 100%, 50% 100%, 100% 100%, 100% 0);
  }
  40%{
    clip-path: polygon(0% 0%, 0 50%, 50% 100%, 100% 50%, 100% 0);
  }
  80%{
    clip-path: polygon(0% 0%, 0 0, 50% 0, 100% 0, 100% 0);
  }
  100%{
    clip-path: polygon(0% 0%, 0 0, 50% 0, 100% 0, 100% 0);
  }
}
@keyframes strokeZeroAni{
  to{
    stroke-dashoffset: 0;
  }
}
@keyframes moveDefault{
  to{
    transform: translateX(0px);
  }
}
@keyframes imageAni{
  to{
    box-shadow: 0px calc(1em / 2) 0px var(--hover-color);
    transform: translateY(0%);
  }
}
@keyframes blurEffect{
  0%{
    transform: scale(1.3);
    filter: blur(1em);
    opacity: 0;  
  }
  30%{
    transform: scale(1.1);
    filter: blur(.8em);
    opacity: 0.8;  
  }
  50%{
    transform: scale(1.05);
    filter: blur(.5em);
    opacity: 0.9;
  }
  80%{
    transform: scale(1);
    filter: blur(0em);
    opacity: 1;  
  }
  100%{
    transform: scale(1);
    filter: blur(0em);
    opacity: 1;  
  }
}
@keyframes showOpacity{
  to{
    opacity: 1;
  }
}
@keyframes hidePage{
  to{
    visibility: hidden;
  }
}
@keyframes  introStrokeAni{
 0%{
  opacity: 1;
  stroke-dashoffset:var(--first);
 }
 50%{
  stroke-dashoffset:0px;
 }
 100%{
  stroke-dashoffset:0px;
  opacity: 0;
 }
}
@keyframes multiTextAni {
  /* 0s to 1.25s (start) */
  0% { 
    content:"Web Developer";
    width:100%; 
    border-right-color:var(--cursor-color);
  }
  8%{
   border-right-color:var(--cursor-color);   
  }
  9.27%{
    border-right-color:rgba(255,255,255,0);
    width:0%; 
  }
 /*1.25s to 1.75s (wait)*/
  12%{
    border-right-color:rgba(255,255,255,0);
    content:"Web Developer";
    width:0%; 
  }
 /*change word*/
  12.96% { 
    content:"UI Designer";
    width:0%; 
    border-right-color:rgba(255,255,255,0);
  } 
  /*1.75s to 2.5s(end)*/
  18.52% { 
    border-right-color:var(--cursor-color);
    width:100%; 
  }
  /*2.5s to 4.5s (delay)*/
  33.33% { 
    width:100%;  
    border-right-color:var(--cursor-color);
  }
  /*4.5s to 5.75s (start)*/
  41%{
    border-right-color:var(--cursor-color);  
  }
  42.6% { 
    width:0%; 
    border-right-color:rgba(255,255,255,0);   
  }

  /*5.75s to 6.25s (wait)*/
  46%{
    width:0%;
    content:"UI Designer";
    border-right-color:rgba(255,255,255,0);
  }
  /*change word*/
  46.2% { 
    content:"Coder";
    width:0%;  
    border-right-color:rgba(255,255,255,0);
  } 
  /*6.25s to 7s (end) */
  51.85% { 
    width:100%; 
    border-right-color:var(--cursor-color);
  }
  /*7s to 9s (delay) */
  66.66% { 
    width:100%;  
    border-right-color:var(--cursor-color);
  }
  /* 9s to 10.25s (start) */
  73%{
  border-right-color:var(--cursor-color);  
  }
  75.9% { 
    width:0%;  
    border-right-color:rgba(255,255,255,0);
  } 
    /* 10.25s to 10.75s(wait) */
  79%{
      border-right-color:rgba(255,255,255,0);
      content:"Coder";  
  }
    /*change word*/
  79.6% { 
    border-right-color:rgba(255,255,255,0);
    content:"Web Developer";
    width:0%;  
  }
  /* 10.75s to 11.5s (end) */
  85.2% { 
    width:100%; 
    border-right-color:var(--cursor-color);
  } 
  /*  11.5s to 13.5 (delay) */
  100% { 
    width:100%;  
  }
}